@import url(https://fonts.bunny.net/css?family=fira-mono:400|josefin-sans:300,300i,400,400i,700,700i);

@view-transition {
	navigation: auto;
}

:root {
	--font-body: 'Josefin Sans', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-3);
	background-size: 100vw 100vh;
    line-height: 1.5;
}

h1,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition-property: border-color;
	transition-duration: .5s;
}

a:hover {
	border-color: var(--color-theme-1);
}

h1 {
	font-size: 2rem;
	text-align: center;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

blockquote {
	margin: 14px 0 14px 0;
	padding: 2px 50px 2px 15px;
	border-left: 2px solid var(--color-text);
	font-style: italic;
}

section {
	display: flex;
	flex-direction: column;
	flex: 0.6;
}

.app {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
    box-sizing: border-box;
}

footer {
    padding: 12px;
    margin-top: 25px;
    border-top: 1px solid var(--color-text);
    text-align: center;
}

@media (min-width: 480px) {
    footer {
        padding: 12px 0;
    }
}

li:not(:first-child) {
    padding-top: 8px;
}

.graph {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 50%;
    display: block;
    margin: auto;
}

i.cite {
    display: block;
    text-align: center;
    padding-top: 8px;
    font-size: 9pt;
}

.footnotes {
    margin: 10px;
    border-top: 1px solid;
    opacity: 0.8;
}

/* <editor-fold desc="component: NavLinks"> */
nav.nav-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-links a {
	display: block;
	color: var(--color-theme-1);
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition-property: border-color;
	transition-duration: .5s;
}

.nav-links a:hover {
	border-color: var(--color-theme-1);
}
/* </editor-fold> */

/* <editor-fold desc="component: SectionLink"> */

a.section-link {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: none !important;
	text-transform: uppercase;
	color: inherit;
	--bg-hover: black;
	background-image: linear-gradient(135deg,
	var(--bg-hover) 0%,
	var(--bg-hover) 50%,
	transparent 50%,
	transparent 100%
	);
	background-size: 250%;
	background-position: 90% 90%;
	border: 2px solid;
	transition-property: color, border-color, background-position, background-color, background-image;
	transition-duration: .75s;
}
a.section-link span, a.section-link svg {
	display: block;
}
a.section-link:hover {
	color: white;
	background-position: 0% 0%;
	border-color: black;
}
a.section-link:active {
	--bg-hover: var(--color-theme-1);
	border-color: var(--color-theme-1);
	color: var(--color-theme-1);
	background-position: -75% -75%;
}

/* </editor-fold> */

/* <editor-fold desc="page: Index"> */
@keyframes fade {
	0% {
		opacity: 0;
		pointer-events: none;
	}
	100% {
		opacity: 1;
		pointer-events: all;
	}
}
.fade {
	opacity: 0;
	pointer-events: none;
	animation: fade .5s linear 0s 1 forwards normal;
}
.fade2 {
	animation-delay: 2s;
}
.fade3 {
	animation-delay: 4s;
}
.fade4 {
	animation-delay: 4.25s;
}
.fade5 {
	animation-delay: 4.5s;
}
.fade.no-delay {
	animation-delay: 0s !important;
}

h1 {
	width: 100%;
}

.welcome {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
}

.welcome img {
	display: block;
	opacity: 0.7;
}

.tagline {
	align-self: center;
	font-style: italic;
	margin-top: -10px;
}

.under-construction {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: inherit;
	border: 2px solid;
	opacity: 0.9;
	text-align: center;
	background: repeating-linear-gradient(
			45deg,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0) 10px,
			rgba(0, 0, 0, 0.1) 10px,
			rgba(0, 0, 0, 0.1) 20px
	);
}
/* </editor-fold> */